.App {
  text-align: center;
}

.items {
  border: 5px solid palevioletred;
  border-radius: 25px;
  list-style-type: none;
  margin: 10px 20px 10px 10px;
  padding-bottom: 10px;
}

.article-list-titles {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 120%;
  color: black;
  font-weight: bolder;
}

.article-list-titles:active {
  color: purple;
}

.list-info {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  display: flex;
  flex-direction: column column;
  flex-wrap: wrap;
  color: blue;
  justify-content: space-evenly;
}

.comment-body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  font-weight: bold;
}

.single-article {
  border: 5px solid palevioletred;
  border-radius: 25px;
  margin: 20px;
  padding-bottom: 10px;
}

.comments-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

button {
  border: 3px solid palevioletred;
  border-radius: 25px;
  background-color: pink;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.usernames {
  list-style-type: none;
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.logged-in {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 3px solid palevioletred;
  font-size: 20px;
  background-color: pink;
  border-radius: 25px;
}

@media screen and (min-width: 480px) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .items {
    width: 200px;
  }
}
